* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --skill-width: 95px;
  --skill-height: 95px;
  --skill-bar-color:
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper > h2 {
  margin-bottom: 1rem;
}

.skill-bar {
  height: 100px;
  width: 520px;
  background-color: lightslategray;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(5, 100px);
}

.skill-slot {
  height: 100%;
  background-color: lightcyan;
  border: 2px solid rgb(75, 32, 32);
  position: relative;
  overflow: hidden;
  opacity: .6;
}

.skill-bar>* {
  width: var(--skill-width);
  height: var(--skill-height);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

}
.skill-bar>*:hover {
  opacity: 1;
}

.slot-1 {
  background-image: url('./images/SpellBook01_13.png');
}

.slot-2 {
  background-image: url('./images/SpellBook01_17.png');
}

.slot-3 {
  background-image: url('./images/SpellBook01_78.png');
}

.slot-4 {
  background-image: url('./images/SpellBook01_87.png');
}

.slot-5 {
  background-image: url('./images/SpellBook01_95.png');
}

.on-cooldown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: coolDownAnimation 1s linear;
}

@keyframes coolDownAnimation {
  0% {
    transform: translateY(0)
  }
  100%{
    transform: translateY(100%)
  }
}